{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
        <h1 class="display-4">Customer Setup!</h1>
        <p class="lead">Wellcome to the new version of Customer Setup, enjoy!.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select Division
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">ATL</a>
                  <a class="dropdown-item" href="#">BOS</a>
                  <a class="dropdown-item" href="#">CHI</a>
                  <a class="dropdown-item" href="#">DAL</a>
                  <a class="dropdown-item" href="#">DET</a>
                  <a class="dropdown-item" href="#">HOU</a>
                  <a class="dropdown-item" href="#">LA</a>
                  <a class="dropdown-item" href="#">NAT</a>
                  <a class="dropdown-item" href="#">NYC</a>
                  <a class="dropdown-item" href="#">PHL</a>
                  <a class="dropdown-item" href="#">RCH</a>
                </div>
              </div>

      </div>


      
{% endblock %}